<h1>加減乘除簡易計算機</h1>
<div class="calculator">

  <input type="number" [(ngModel)]="a1" /> ＋ <input type="number"
    [(ngModel)]="a2" /> = {{result1}}
  <button (click)=calculate()>計算結果</button>
</div>

<div class="calculator">
  <input type="number" [(ngModel)]="b1" /> － <input type="number"
    [(ngModel)]="b2" /> = {{result2}}
  <button (click)=calculate2()>計算結果</button>
</div>

<div class="calculator">
  <input type="number" [(ngModel)]="c1" /> ｘ <input type="number"
    [(ngModel)]="c2" /> = {{result3}}
  <button (click)=calculate3()>計算結果</button>
</div>

<div class="calculator">
  <input type="number" [(ngModel)]="d1" /> ／ <input type="number"
    [(ngModel)]="d2" /> = {{result4}}
  <button (click)=calculate4()>計算結果</button>
</div>
